<%= @output %>
<br>
<br>

<form action ="/blackjack" method="post">
  HIT<input type="radio" value="hit" name="input"><br>
  STAY<input type="radio" value="stay" name="input"><br>
  Submit<input type="submit">
</form>